@charset "UTF-8";
#details {
	display: flex;
	flex-direction: column;
	margin: 15px;
}
#name {
	margin-bottom: 10px;
}
.answer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin: 20px;
}
.question {
	font-weight: bold;
	border: 2px outset grey;
	padding: 5px;
}
#submit {
	display: flex;
	justify-content: center;
	align-items: center;
}
button {
	border: none;
	background-color: #008CBA;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	color: white;
}
td,th {
	border: solid 2px lightgrey;
	text-align: center;
}